@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-100;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-shop_light_pink: #fcf0e4;
  --color-shop_dark_green: #063c28;
  --color-shop_btn_dark_green: #063d29;
  --color-shop_light_bg: #f6f6f6;
  --color-shop_light_green: #3b9c3c;
  --color-shop_orange: #fb6c08;
  --color-darkColor: #151515;
  --color-lightColor: #52525b;
  --color-lightOrange: #fca99b;
  --color-shop_light_green: #3b9c3c;
  --color-deal-bg: #f1f3f8;
}